<div class="modal-content">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
    <div class="modal-header">
      <h4 class="modal-title">{{modalHeader}}</h4>
      <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ba-card cardTitle="Información del Taller">

          <div class="form-group row" [ngClass]="{'has-error': (!nombre.valid && nombre.touched), 'has-success': (nombre.valid && nombre.touched)}">
            <label for="inputnombre" class="col-sm-2 form-control-label">Nombre</label>
            <div class="col-sm-10">
              <input [formControl]="nombre" type="text" class="form-control" id="inputnombre" placeholder="Nombre">
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (!direccion.valid && direccion.touched), 'has-success': (direccion.valid && direccion.touched)}">
            <label for="inputdireccion" class="col-sm-2 form-control-label">Dirección</label>
            <div class="col-sm-10">
              <input [formControl]="direccion" type="text" class="form-control" id="inputdireccion" placeholder="Dirección">
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (!descripcion.valid && descripcion.touched), 'has-success': (descripcion.valid && descripcion.touched)}">
            <label for="inputdescripcion" class="col-sm-2 form-control-label">Descripción</label>
            <div class="col-sm-10">
              <input [formControl]="descripcion" type="text" class="form-control" id="inputdescripcion" placeholder="Descripción">
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (!telefono.valid && telefono.touched), 'has-success': (telefono.valid && telefono.touched)}">
            <label for="inputtelefono" class="col-sm-2 form-control-label">Teléfono</label>
            <div class="col-sm-10">
              <input [formControl]="telefono" type="text" class="form-control" id="inputtelefono" placeholder="Teléfono">
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (!lat.valid && lat.touched), 'has-success': (lat.valid && lat.touched)}">
            <label for="inputlat" class="col-sm-2 form-control-label">Lat</label>
            <div class="col-sm-10">
              <input [formControl]="lat" type="text" class="form-control" id="inputlat" placeholder="Lat">
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (!lng.valid && lng.touched), 'has-success': (lng.valid && lng.touched)}">
            <label for="inputlng" class="col-sm-2 form-control-label">Lng</label>
            <div class="col-sm-10">
              <input [formControl]="lng" type="text" class="form-control" id="inputlng" placeholder="Lng">
            </div>
          </div>

      </ba-card>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger cancel-btn" (click)="closeModal()">Cancelar</button>
      <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" type="submit">Aceptar</button>
    </div>
  </form>
</div>
