<div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="modal-content" style="overflow-y: initial !important">
            <form [formGroup]="form" class="form-horizontal" >
              <div class="modal-header">
                <h4 class="modal-title">Editar datos del taller</h4>
                <button class="close" aria-label="Close">
                  <span aria-hidden="true" (click)="close()">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="height: 65vh; overflow-y: auto;">
                <ba-card cardTitle="Información del Taller">
                    <div class="form-group row" [ngClass]="{'has-error': (!nombreAC.valid && nombreAC.touched), 'has-success': (nombreAC.valid && nombreAC.touched)}">
                        <label for="inputnombre" class="col-sm-2 form-control-label">Nombre</label>
                        <div class="col-sm-10">
                          <input [(ngModel)]="nombre" [formControl]="nombreAC" type="text" class="form-control" id="inputnombre" placeholder="Nombre">
                        </div>
                      </div>
                      <div class="form-group row" [ngClass]="{'has-error': (!direccionAC.valid && direccionAC.touched), 'has-success': (direccionAC.valid && direccionAC.touched)}">
                        <label for="inputdireccion" class="col-sm-2 form-control-label">Dirección</label>
                        <div class="col-sm-10">
                          <input [(ngModel)]="direccion" [formControl]="direccionAC" type="text" class="form-control" id="inputdireccion" placeholder="Dirección">
                        </div>
                      </div>
                      <div class="form-group row" [ngClass]="{'has-error': (!descripcionAC.valid && descripcionAC.touched), 'has-success': (descripcionAC.valid && descripcionAC.touched)}">
                        <label for="inputdescripcion" class="col-sm-2 form-control-label">Descripción</label>
                        <div class="col-sm-10">
                          <input [(ngModel)]="descripcion" [formControl]="descripcionAC" type="text" class="form-control" id="inputdescripcion" placeholder="Descripción">
                        </div>
                      </div>
                      <div class="form-group row" [ngClass]="{'has-error': (!telefonoAC.valid && telefonoAC.touched), 'has-success': (telefonoAC.valid && telefonoAC.touched)}">
                        <label for="inputtelefono" class="col-sm-2 form-control-label">Teléfono</label>
                        <div class="col-sm-10">
                          <input [(ngModel)]="telefono" [formControl]="telefonoAC" type="text" class="form-control" id="inputtelefono" placeholder="Teléfono">
                        </div>
                      </div>
                      <div class="form-group row" [ngClass]="{'has-error': (!latAC.valid && latAC.touched), 'has-success': (latAC.valid && latAC.touched)}">
                        <label for="inputlat" class="col-sm-2 form-control-label">Lat</label>
                        <div class="col-sm-10">
                          <input [(ngModel)]="lat" [formControl]="latAC" type="text" class="form-control" id="inputlat" placeholder="Lat">
                        </div>
                      </div>
                      <div class="form-group row" [ngClass]="{'has-error': (!lngAC.valid && lngAC.touched), 'has-success': (lngAC.valid && lngAC.touched)}">
                        <label for="inputlng" class="col-sm-2 form-control-label">Lng</label>
                        <div class="col-sm-10">
                          <input [(ngModel)]="lng" [formControl]="lngAC" type="text" class="form-control" id="inputlng" placeholder="Lng">
                        </div>
                      </div>
                </ba-card>
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
                <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" type="submit" (click)="updateTaller(form)">Aceptar</button>
              </div>
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>    
</div>
  